html {
  font-size: 15px;
  font-family: "Segoe UI", Arial, sans-serif;
}
body {
  line-height: 1.5;
  padding-top: 73.5px;
}

.nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.nav * {
  text-decoration: none;
  color: black;
}

.nav_list {
  display: flex;
  align-items: center;
}
.nav a {
  padding: 0.7rem 1.3rem;
}
.h1_head {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.head_BR {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0.7rem 1rem;
}

.head_img {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
}
.head_img img {
  max-width: 1500px;
  position: relative;
  height: 65vh;
  z-index: -5;
  object-fit: cover;
  width: 100%;
}

main {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
}

main h2 {
  width: 100%;
  border-bottom: solid grey 1px;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
}

.house_img,
.art_about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem 0.5rem;
}

.house_img img {
  width: 350px;
}

.art_about > div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 24%;
}
.art_about div p:last-of-type {
  height: -webkit-fill-available;
}
.art_about img {
  width: 100%;
}

.art_about div p,
.art_about div h3 {
  margin: 0.5rem 0;
}

.art_about a {
  color: black;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  background-color: lightgray;
  text-decoration: none;
}

.contact p {
  padding: 1rem;
}

.div_contact_inp {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

.contact_inp {
  padding: 0.5rem;
}

.send_massage {
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
  margin: 1rem;
  font-weight: bold;
}

.img_map {
  padding: 1rem;
}

.img_map img {
  object-fit: cover;
}

footer {
  padding: 2rem 0;
  background-color: black;
}

.footer_text {
  color: white;
  text-align: center;
}

@media screen and (max-width: 2700px) {
  .head_img img {
    height: 45vh;
  }
}

@media screen and (max-width: 1800px) {
  .house_img img {
    width: 24%;
  }
}

@media screen and (max-width: 1400px) {
  .house_img {
    justify-content: space-around;
    gap: 2rem 0.5rem;
  }
  .house_img img {
    width: 45%;
  }
}

@media screen and (max-width: 600px) {
  .nav_list,
  .head_archit {
    display: none;
  }
  .art_about > div {
    width: 100%;
    padding-top: 1rem;
  }
  .art_about {
    gap: 0.5rem 0;
    padding-top: 1rem;
  }
  .house_img {
    justify-content: center;
  }
}

.nav > a {
  --bg-size: 400%;
  --color-one: #8e70db;
  --color-two: #46bcffcc;
  --color-three: #f445bdc8;
  --color-four: #5b18b7c1;
  --color-five: #ff0e0ab6;
  background: linear-gradient(
      90deg,
      var(--color-three),
      var(--color-four),
      var(--color-five),
      var(--color-four),
      var(--color-three)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: 8s linear infinite pjcard-text-animation;
}

@keyframes pjcard-text-animation {
  to {
    background-position: var(--bg-size) 0;
  }
}
